.button {
  display: block;
  min-height: 75px;
  padding: 30px 40px;

  @include font-size-height(12px, 15px);
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;

  background-color: $accent-color;
  border: none;

  @media (max-width: $desktop-width - 1) {
    width: 250px;
    max-width: 250px;
    min-height: 50px;
    padding-top: 19px;
    padding-bottom: 19px;

    @include font-size-height(10px, 12px);
    font-weight: 500;
  }

  @media (max-width: $tablet-width - 1) {
    @include center;
    width: 288px;
    max-width: 288px;

  }
}
