.button {
  display: block;
  min-height: 75px;
  padding: 29px 34px 29px 40px;

  @include font-size-height(12px, 15px);
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;

  background-color: $accent-color;
  border: none;

  cursor: pointer;

  @include until-desktop {
    width: 250px;
    max-width: 250px;
    min-height: 50px;
    padding-top: 21px;
    padding-bottom: 17px;

    @include font-size-height(10px, 12px);
    font-weight: 500;
  }

  @include until-tablet {
    @include center;
    width: 288px;
    max-width: 288px;
  }

  &:hover {
    @include from-desktop {
      background-color: $accent-h-color;
    }
  }

  &:active {
    @include from-desktop {
      opacity: 0.7;
    }

    @include until-desktop {
      background-color: $accent-h-color;
    }
  }
}
