.contacts-list {
  @include list;
  @include font-size-height(18px, 32px);
  color: $accent-color;

  &--header {
    @include until-desktop {
      display: none;
    }

    svg {
      margin-right: 16px;
    }
  }

  &--offer {
    color: $black;

    @include until-desktop {
      color: $accent-color;
    }

    .contacts-list__link {
      font-size: 20px;
      text-decoration: none;

      @include until-desktop {
        display: block;

        font-size: 18px;
        text-decoration: underline;
      }

      &:hover {
        @include from-desktop {
          color: $accent-color;
          text-decoration: underline;
        }
      }
    }

    svg {
      margin-right: 30px;

      @include until-desktop {
        display: none;
      }
    }
  }

  &--footer {
    width: 266px;

    @include font-size-height(14px, 17px);

    @include until-tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .contacts-list__item {
      margin-bottom: 15px;
    }

    .contacts-list__svg-mail {
      margin-right: 14px;
    }

    .contacts-list__svg-phone {
      margin-right: 17px;
      margin-left: 7px;

      stroke: #d7d9df;
    }
  }
}

.contacts-list__link {
  display: flex;
  align-items: center;

  color: inherit;

  &--phone {
    @include font-size-height(16px, 32px);
  }

  &:hover {
    @include from-desktop {
      color: $black;
      text-decoration: none;
    }
  }

  &:active {
    @include from-desktop {
      opacity: 0.7;
    }
  }
}

.contacts-list__svg-phone {
  stroke: $accent-color;
}

.contacts-list__mail {
  &:first-of-type {
    display: none;

    @include until-desktop {
      display: inline;
    }
  }

  &:last-of-type {
    @include until-desktop {
      display: none;
    }
  }
}
