.contact {
  overflow: hidden;

  @include until-tablet {
    background-color: #f8f8f8;
  }
}

.contact__container {
  @include container;
  min-height: 455px;
  padding-top: 70px;

  @include pad-center(55px);

  background-image: url("../img/bg-questions-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: 844px auto;
  background-position: top left;

  transform: translateX(32px);

  @media (min-resolution: $retina) {
    background-image: url("../img/bg-questions-desktop@2x.jpg");
  }

  @include until-desktop {
    padding-bottom: 75px;

    background-image: url("../img/bg-questions-tablet@1x.jpg");
    background-size: cover;
    background-position: center;

    transform: none;

    @media (min-resolution: $retina) {
      background-image: url("../img/bg-questions-tablet@2x.jpg");
    }
  }

  @include until-tablet {
    @include pad-center($screen-padding-mob);
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: auto;

    background: none;
  }
}

.contact__window {
  margin-left: auto;
  margin-right: -15px;
  padding: 50px 49px 49px 50px;
  width: 656px;

  text-align: center;
  color: $darkest-color;

  background-color: $white;
  box-shadow: 0 4px 30px 0 rgba(41, 54, 66, 0.1);
  border-radius: 5px;

  @include until-desktop {
    width: 100%;
    margin-right: 0;
  }

  @include until-tablet {
    padding: 0;

    background-color: transparent;
    box-shadow: none;
  }
}

.contact__heading {
  @include reset-m-p;
  margin-bottom: 12px;

  @include font-size-height(25px, 32px);
  font-weight: 600;

  @include until-tablet {
    margin-bottom: 20px;
  }
}

.contact__description {
  @include reset-m-p;
  margin-bottom: 23px;

  @include font-size-height(16px, 24px);

  @include until-tablet {
    margin-bottom: 19px;
  }
}
