.countries__container {
  @include container;
  padding-top: 99px;

  @include until-desktop {
    padding-top: 40px;

    text-align: center;
  }

  @include until-tablet {
    padding-top: 69px;
  }
}

.countries__heading {
  position: relative;

  @include reset-m-p;
  margin-bottom: 64px;
  width: 358px;

  @include font-size-height(55px, 80px);
  font-weight: 600;
  letter-spacing: -1.2px;

  @include until-desktop {
    width: 100%;
    margin-bottom: 21px;

    @include font-size-height(30px, 45px);
    letter-spacing: normal;
  }

  @include until-tablet {
    @include font-size-height(24px, 36px);
  }

  &::after {
    @include from-desktop {
      @include pseudo(absolute);
      bottom: -33px;
      left: 0;

      width: 228px;
      height: 4px;

      background-color: $accent-color;
    }
  }
}

.countries__description {
  @include reset-m-p;
  margin-bottom: 55px;
  width: 328px;

  @include font-size-height(16px, 28px);
  color: rgba($dark-color, 0.7);
  letter-spacing: -0.5px;

  @include until-desktop {
    @include center;
    margin-bottom: 39px;
  }

  @include until-tablet {
    width: 100%;
    margin-bottom: 18px;
  }
}

.countries__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include list;

  @include between-desktop-full {
    justify-content: space-around;
  }

  @include until-desktop {
    @include pad-center(61px);
  }

  @include until-tablet {
    @include pad-center(0);
    flex-direction: column;
  }
}

.countries__item {
  position: relative;

  margin-bottom: 101px;

  @include between-desktop-full {
    margin-right: 10px;
    margin-left: 10px;
  }

  @include until-desktop {
    margin-bottom: 19px;
    width: 47.59%;
  }

  @include until-tablet {
    width: 100%;
    margin-bottom: 35px;
  }

  &:last-child {
    @include until-desktop {
      margin-top: 11px;
    }

    @include until-tablet {
      margin-top: 0;
    }
  }

  &:nth-child(3n+2):not(:last-child) {
    @include only-full-width {
      @include center;
    }
  }

  &:nth-last-child(2):not(:nth-child(3n+2)):not(:nth-child(3n+3)) {
    @include only-full-width {
      margin-right: 120px;
    }
  }

  &:nth-child(2n+1):not(:last-child) {
    @include until-desktop {
      margin-right: auto;
    }
  }

  &:hover {
    .countries__overlay {
      display: flex;
    }
  }
}

.countries__img {
  width: 350px;
  height: auto;
  display: block;

  @include until-desktop {
    width: 100%;
  }
}

.countries__name {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 10;

  width: 215px;
  min-height: 61px;
  padding: 16px;

  @include font-size-height(24px, 29px);
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.4px;

  background-color: $white;

  transform: translateX(-50%);
}

.countries__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;

  display: none;
  justify-content: center;
  align-items: center;

  background-color: rgba($darkest-color, 0.6);
}

.countries__about-link {
  width: 266px;
  padding: 30px 19px;

  @include font-size-height(14px, 17px);
  font-weight: 500;
  color: $white;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  border: 1px solid rgba($white, 0.7);

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: rgba($white, 0.7);
  }
}
