.footer {
  color: $darkest-color;

  @include until-tablet {
    text-align: center;
  }
}

.footer__container {
  @include container;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 72px;

  @include until-desktop {
    padding-top: 30px;
    padding-bottom: 48px;
  }

  @include until-tablet {
    padding-top: 10px;
    padding-bottom: 26px;
    display: block;
  }
}

.footer__wrapper {
  @include until-tablet {
    width: 100%;
    padding-top: 30px;
  }

  &:not(:last-of-type) {
    border-right: 1px solid #d7d9df;

    @include until-tablet {
      border-right: none;
      border-bottom: 1px solid #d7d9df;
    }
  }

  &:first-of-type {
    width: 34.5%;
    padding-left: 13px;

    @include until-desktop {
      width: 54.4%;
      padding-left: 0;
      padding-right: 11px;
    }

    @include until-tablet {
      width: 100%;
    }
  }

  &:nth-of-type(2) {
    width: 33.3%;
    padding-left: 89px;

    @include until-desktop {
      width: 43.6;
      padding-left: 50px;

      border-right: none;
    }

    @include until-tablet {
      width: 100%;
    }

    @include until-tablet {
      padding-left: 0;
      padding-right: 11px;
    }
  }

  &:last-of-type {
    width: 32.2%;
    padding-left: 48px;
    padding-right: 9px;

    @include until-desktop {
      width: 100%;
      margin-top: 18px;
      padding-top: 30px;
      padding-left: 10px;

      text-align: center;

      border-top: 1px solid #d7d9df;
    }

    @include until-tablet {
      @include pad-center(0);
      margin-top: 0;
      border-top: none;
    }
  }
}

.footer__heading {
  @include reset-m-p;
  margin-bottom: 22px;

  @include font-size-height(18px, 32px);
  font-weight: 600;
}

.footer__tours-wrapper {
  display: flex;
  flex-wrap: wrap;

  @include until-tablet {
    justify-content: center;
  }
}

.footer__tour-list {
  @include list;
  width: 33%;

  @include font-size-height(14px, 17px);
  color: rgba($darkest-color, 0.5);

  @include until-desktop {
    width: 32%;
  }

  @include until-tablet {
    width: 45%;
    margin-bottom: 9px;
  }

  &:nth-child(2n) {
    @include until-tablet {
      margin-left: auto;
    }
  }

  li {
    margin-bottom: 10px;
  }
}

.footer__info {
  @include reset-m-p;
  @include font-size-height(14px, 24px);
  color: rgba($darkest-color, 0.5);
}
