.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include until-tablet {
    display: block;
  }

  &--modal {
    .form_inputs-wrapper {
      display: block;
      margin-bottom: 0;
    }

    .form__input-wrapper {
      margin-bottom: 20px;

      @include until-desktop {
        width: 100%;
      }
    }
  }
}

.form_inputs-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;

  @include until-desktop {
    margin-bottom: 21px;
  }

  @include until-tablet {
    display: block;
    margin-bottom: 0;
  }
}

.form__input-wrapper {
  position: relative;

  width: 269px;
  min-height: 50px;

  @include font-size-height(14px, 17px);

  @include until-desktop {
    width: 48.2%;
  }

  @include until-tablet {
    width: 100%;
    margin-bottom: 20px;
  }

  &--tel {
    &::after {
      @include pseudo(absolute, "+7");
      top: 17px;
      left: 26px;
    }

    .form__input {
      padding-left: 51px;
    }
  }

  &--required {
    &::before {
      @include pseudo(absolute, "*");
      top: 10px;
      left: 14px;

      font-size: 20px;
      color: $accent-color;
    }
  }
}

.form__input {
  width: 100%;
  padding: 16px 15px 15px;

  border: 1px solid rgba($dark-color, 0.3);

  &:hover {
    @include from-desktop {
      border-color: $dark-color;
    }
  }

  &:focus {
    border-color: $accent-h-color;
    outline: none;
  }

  &:invalid:not(:required) {
    border-color: $accent-color;

    + .form__inavlid-data {
      display: inline;
    }
  }

  &::placeholder {
    color: inherit;
  }
}

.form__inavlid-data {
  position: absolute;
  top: -15px;
  left: 0;

  display: none;

  @include font-size-height(12px, 15px);
  color: $accent-color;
}

.form__button {
  width: 176px;
  min-height: 50px;
  padding-top: 18px;
  padding-bottom: 17px;

  @include until-desktop {
    @include center;
    width: 250px;
  }

  @include until-tablet {
    width: 100%;
  }
}
