.header__top {
  @include container;
  display: flex;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 33px;

  @include until-desktop {
    position: relative;

    @include reset-m-p;
    flex-wrap: wrap;

    box-shadow: 0 4px 20px 0 rgba($black, 0.1);
  }
}

.header__logo {
  width: 57px;
  height: 22px;
  margin-right: auto;

  @include until-desktop {
    width: 44px;
    height: auto;
    margin-top: 7px;
    margin-left: $screen-padding + 1px;
  }

  @include until-tablet {
    margin-left: $screen-padding-mob;
  }

  svg {
    @include until-desktop {
      width: 44px;
      height: auto;
    }
  }
}

.header__button-toggle {
  display: none;

  @include until-desktop {
    position: relative;

    display: block;
    width: 72px;
    height: 50px;

    background-color: $accent-color;
    border: none;
  }

  @include until-tablet {
    width: 50px;
  }

  &::before {
    @include until-desktop {
      @include pseudo(absolute);
      top: 17.5px;
      left: 50%;

      width: 22.5px;
      height: 1px;

      background-color: #dadada;
      box-shadow: 0 6px 0 0 #dadada, 0 12px 0 0 #dadada;

      transform: translateX(-50%);
    }
  }

  &:active {
    background-color: $accent-h-color;
  }

  &--show {
    @include until-desktop {
      position: relative;
      z-index: 200;

      background-color: $white;
    }

    &::before,
    &::after {
      @include until-desktop {
        @include pseudo(absolute);
        top: 50%;
        left: 50%;

        width: 32px;
        height: 1px;

        background-color: #d0d0d1;
        box-shadow: none;
      }
    }

    &::before {
      @include until-desktop {
        transform: translateX(-50%) rotate(-45deg);
      }
    }

    &::after {
      @include until-desktop {
        transform: translateX(-50%) rotate(45deg);
      }
    }

    &:active {
      opacity: 0.7;
    }
  }

  &--no-js {
    opacity: 0;

    pointer-events: none;
  }
}

.header__nav {
  margin-right: 60px;

  @include until-desktop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    display: none;
    padding-top: 82px;
    padding-bottom: 82px;
    margin-right: 0;
    width: 100%;
    height: 100vh;

    background-color: $white;
  }

  &--no-js {
    @include until-desktop {
      position: static;

      display: block;
      height: auto;
    }
  }

  &--show {
    @include until-desktop {
      display: block;
    }
  }
}

.header__nav-list {
  @include list;
  display: flex;
  flex-wrap: wrap;
  max-width: 650px;

  @include font-size-height(14px, 17px);
  font-weight: 500;
  color: $darkest-color;

  @include until-desktop {
    display: block;

    @include font-size-height(20px, 28px);
    font-weight: 600;
  }
}

.header__nav-item {
  margin-left: 40px;

  @include until-desktop {
    margin-right: 0;
    margin-bottom: 30px;
  }

  a {
    color: inherit;
    text-decoration: none;

    @include until-desktop {
      display: flex;
      align-items: center;
      width: 100%;
      min-height: 60px;
      padding: 17px $screen-padding-mob;

      color: #48494d;

      background-color: #f8f8f8;
    }

    &:hover {
      @include from-desktop {
        color: $accent-color;
      }
    }

    &:active {
      opacity: 0.7;
    }
  }
}

.header__nav-arrow {
  display: none;

  @include until-desktop {
    display: block;
    margin-left: auto;
    margin-right: 8px;
  }
}

.header__contacts-list {
  margin-right: 14px;
}

.header__bottom {
  min-height: 860px;

  background-image: url("../img/bg-header-desktop@1x.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina) {
    background-image: url("../img/bg-header-desktop@2x.jpg");
  }

  @include until-desktop {
    min-height: 344px;

    background-image: url("../img/bg-header-tablet@1x.jpg");

    @media (min-resolution: $retina) {
      background-image: url("../img/bg-header-tablet@2x.jpg");
    }
  }

  @include until-tablet {
    min-height: auto;

    background-image: url("../img/bg-header-mobile@1x.jpg");
    background-size: 100%;
    box-shadow: 0 -175px 0 0 $white inset;

    @media (min-resolution: $retina) {
      background-image: url("../img/bg-header-mobile@2x.jpg");
    }
  }
}

.header__container {
  @include container;
  display: flex;
}

.header__promo {
  width: 412px;
  margin-top: 185px;
  margin-left: auto;
  margin-right: 58px;

  color: $white;

  @include until-desktop {
    margin-top: 60px;
    margin-right: auto;
    width: 398px;

    text-align: center;
  }

  @include until-tablet {
    width: 100%;
    margin-top: 81px;
    margin-right: 0;
    margin-left: 0;
  }
}

.header__title {
  @include reset-m-p;
  margin-bottom: 29px;

  @include font-size-height(55px, 80px);
  font-weight: 600;
  letter-spacing: -1.1px;

  @include until-desktop {
    margin-bottom: 16px;

    @include font-size-height(30px, 45px);
    letter-spacing: normal;
  }

  @include until-tablet {
    min-height: 154px;
    margin-bottom: 20px;
    padding-left: 6px;

    @include font-size-height(24px, 36px);
  }
}

.header__description {
  @include reset-m-p;
  margin-bottom: 33px;
  padding-right: 30px;

  @include font-size-height(16px, 27px);
  letter-spacing: -0.5px;

  @include until-desktop {
    margin-bottom: 9px;
    padding-right: 0;
  }

  @include until-tablet {
    margin-bottom: 20px;

    color: $dark-color;
  }
}

.header__button {
  display: flex;
  align-items: center;
  width: 340px;

  text-align: left;

  @include until-desktop {
    @include center;
    width: 250px;
    padding-top: 18px;
    padding-bottom: 15px;
  }

  @include until-tablet {
    width: 288px;
  }
}

.header__button-arrow {
  margin-left: auto;
  margin-right: 5px;
}
