.offer__container {
  @include container;
  display: flex;
  padding-bottom: 70px;

  @include until-desktop {
    display: block;
    text-align: center;
  }

  @include until-tablet {
    padding-bottom: 10px;
  }
}

.offer__info {
  order: 1;
  width: 295px;
  margin-top: 112px;
  margin-right: -6px;

  @include until-desktop {
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 29px;
  }

  @include until-tablet {
    margin-bottom: 40px;
  }
}

.offer__heading {
  position: relative;

  @include reset-m-p;
  margin-bottom: 48px;

  @include font-size-height(55px, 90px);
  font-weight: 600;

  @include until-desktop {
    margin-bottom: 20px;

    @include font-size-height(30px, 45px);
  }

  @include until-tablet {
    @include font-size-height(24px, 36px);
  }

  &::after {
    @include pseudo(absolute);
    bottom: -17px;
    left: 0;

    width: 175px;
    height: 3px;

    background-color: $accent-color;

    @include until-desktop {
      display: none;
    }
  }
}

.offer__description {
  @include reset-m-p;
  margin-bottom: 60px;

  @include font-size-height(16px, 27px);
  color: rgba($dark-color, 0.7);

  @include until-desktop {
    margin-bottom: 33px;
  }

  @include until-tablet {
    margin-bottom: 19px;
  }
}

.offer__subtitle {
  @include reset-m-p;
  margin-bottom: 13px;
  margin-left: 9px;

  @include font-size-height(22px, 34px);
  font-weight: 500;
  text-align: center;

  @include until-desktop {
    margin-left: 0;
    margin-bottom: 11px;

    font-size: 18px;
  }

  @include until-tablet {
    margin-bottom: 10px;
  }
}

.offer__price-list {
  @include list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 770px;
  margin-right: auto;

  @include between-desktop-full {
    width: 67%;
  }

  @include until-desktop {
    @include pad-center(51px);
    width: 100%;
    margin-right: 0;
  }

  @include until-tablet {
    @include pad-center(0);
    display: block;
  }
}

.offer__price-item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  width: 370px;
  min-height: 672px;
  padding: 39px 29px 29px;

  background-color: $white;
  border: 1px solid rgba($dark-color, 0.3);
  border-radius: 6px;

  @include between-desktop-full {
    width: 48%;
  }

  @include until-desktop {
    position: relative;

    display: block;
    width: 46%;
    min-height: 629px;
    padding: 30px 20px;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  @include until-tablet {
    width: 100%;
    min-height: auto;
    margin-bottom: 30px;
  }

  &:hover {
    @include from-desktop {
      border-color: $accent-color;
      box-shadow: 0 0 0 1px $accent-color, 0 0 0 1px $accent-color inset;

      .offer__price-heading {
        color: $accent-color;
      }

      .offer__price-count {
        color: $accent-color;
      }

      .offer__price-description {
        border-bottom-color: rgba($accent-color, 0.5);
      }

      svg {
        fill: $darkest-color;
      }
    }
  }
}

.offer__price-heading {
  @include reset-m-p;
  margin-right: auto;
  margin-bottom: 38px;

  @include font-size-height(28px, 38px);
  font-weight: 600;
  letter-spacing: -1.3px;
  color: rgba($darkest-color, 0.7);

  @include between-desktop-full {
    margin-bottom: 10px;
  }

  @include until-desktop {
    margin-bottom: 10px;

    @include font-size-height(24px, 34px);
  }
}

.offer__price-count {
  margin-top: 3px;

  @include font-size-height(25px, 34px);
  font-weight: 700;
  color: rgba($darkest-color, 0.7);

  @include between-desktop-full {
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
  }

  @include until-desktop {
    display: block;
    margin-bottom: 11px;
  }
}

.offer__price-description {
  @include reset-m-p;
  margin-bottom: 31px;
  padding-bottom: 26px;
  padding-right: 25px;

  @include font-size-height(16px, 24px);

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba($dark-color, 0.3);

  @include until-desktop {
    margin-bottom: 22px;
    padding-bottom: 8px;
    padding-right: 0;
  }
}

.offer__feature-list {
  @include list;
  min-height: 345px;

  @include font-size-height(16px, 32px);

  @include until-desktop {
    text-align: left;
  }

  @include until-tablet {
    min-height: 200px;
    margin-bottom: 46px;
  }
}

.offer__feature-item {
  display: flex;
  margin-bottom: 15px;
  padding-right: 30px;

  @include until-desktop {
    padding-right: 0;
    margin-bottom: 10px;
  }
}

.offer__feature-svg {
  flex-shrink: 0;
  margin-top: 10px;
  margin-right: 16px;

  fill: $accent-color;
}

.offer__button {
  width: 100%;
  margin-top: auto;

  @include until-desktop {
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;

    width: auto;
    max-width: none;
  }
}
