.reviews {
  width: 382px;
  padding: 30px;

  background-color: $white;

  @include until-desktop {
    padding: 30px;
  }

  @include until-tablet {
    width: 268px;
    padding: 32px 20px;

    text-align: center;
  }
}

.reviews__heading {
  position: relative;

  @include reset-m-p;
  margin-bottom: 34px;

  @include font-size-height(30px, 37px);
  font-weight: 500;
  letter-spacing: -0.7px;

  @include until-desktop {
    margin-bottom: 33px;
  }

  @include until-tablet {
    @include font-size-height(20px, 24px);
  }

  &::after {
    @include pseudo(absolute);
    bottom: -12px;
    left: 0;

    width: 68px;
    height: 1px;

    background-color: $accent-color;

    @include until-tablet {
      left: 50%;

      transform: translateX(-50%);
    }
  }
}

.reviews__list {
  @include list;
}

.reviews__item {
  display: none;

  &--current {
    display: block;
  }
}

.reviews__text {
  @include reset-m-p;
  margin-bottom: 30px;

  @include font-size-height(14px, 28px);
  letter-spacing: -0.4px;
  color: rgba($dark-color, 0.7);

  @include until-desktop {
    @include pad-center(0);
    margin-bottom: 32px;
  }

  @include until-tablet {
    margin-bottom: 16px;
  }
}

.reviews__author {
  display: flex;
  align-items: center;
  width: 100%;

  @include font-size-height(16px, 25px);
  font-weight: 500;
  letter-spacing: -1px;

  @include until-tablet {
    flex-direction: column;
  }
}

.reviews__author-img {
  display: block;
  margin-right: 16px;

  border-radius: 50%;

  @include until-tablet {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
