.tabs-menu__container {
  @include container;
  padding-bottom: 160px;

  @include until-desktop {
    overflow: hidden;

    padding-bottom: 40px;
  }

  @include until-tablet {
    padding-bottom: 20px;
  }
}

.tabs-menu__tab-list {
  @include list;
  display: flex;
  width: 899px;
  padding-bottom: 15px;
  margin-bottom: 89px;

  @include font-size-height(20px, 24px);
  font-weight: 500;
  letter-spacing: -0.4px;
  color: rgba($dark-color, 0.3);

  border-bottom: 1px solid rgba($dark-color, 0.3);

  @include until-desktop {
    margin-left: 18px;
    margin-bottom: 32px;
  }

  @include until-tablet {
    margin-left: 0;
    margin-bottom: 24px;
  }
}

.tabs-menu__tab-item {
  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      @include from-desktop {
        color: rgba($dark-color, 0.7);
      }
    }
  }

  &--current {
    @include current;
    color: $accent-color;
  }

  &:not(:last-child) {
    margin-right: 100px;
  }
}

.tabs-menu__main-info {
  display: flex;
  align-items: flex-start;

  @include until-desktop {
    display: block;
  }
}

.tabs-menu__countries-info {
  width: 425px;
  margin-right: auto;

  @include until-desktop {
    position: relative;

    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 80px;

    text-align: center;
  }

  @include until-tablet {
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
}

.tabs-menu__countries-list {
  @include list;
}

.tabs-menu__countries-item {
  position: relative;

  display: none;

  @include until-desktop {
    position: static;
  }

  &--current {
    display: block;
  }

  &::after {
    @include pseudo(absolute);
    top: -10px;
    left: calc(100% + 45px);

    width: 430px;
    height: 596px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include until-desktop {
      top: 100%;
      left: $screen-padding * -1;

      width: 100vw;
      height: 0;
      padding-bottom: 57%;
    }

    @include until-tablet {
      left: $screen-padding-mob * -1;

      padding-bottom: 144%;
    }
  }

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      &::after {
        background-image: url("../img/bg-feedback-#{$i}-desktop@1x.jpg");

        @include from-retina {
          background-image: url("../img/bg-feedback-#{$i}-desktop@2x.jpg");
        }

        @include until-desktop {
          background-image: url("../img/bg-feedback-#{$i}-tablet@1x.jpg");

          @include from-retina {
            background-image: url("../img/bg-feedback-#{$i}-tablet@2x.jpg");
          }
        }

        @include until-tablet {
          background-image: url("../img/bg-feedback-#{$i}-mobile@1x.jpg");

          @include from-retina {
            background-image: url("../img/bg-feedback-#{$i}-mobile@2x.jpg");
          }
        }
      }
    }
  }
}

.tabs-menu__country-name {
  position: relative;

  display: block;
  margin-bottom: 48px;

  @include font-size-height(55px, 90px);
  font-weight: 600;
  letter-spacing: -1.2px;

  @include until-desktop {
    margin-bottom: 21px;
    letter-spacing: normal;

    @include font-size-height(30px, 45px);
  }

  @include until-tablet {
    @include font-size-height(24px, 36px);
  }

  &::after {
    @include pseudo(absolute);
    bottom: -17px;
    left: 0;

    width: 175px;
    height: 3px;

    background-color: $accent-color;

    @include until-desktop {
      display: none;
    }
  }
}

.tabs-menu__country-description {
  @include reset-m-p;
  width: 370px;
  margin-bottom: 49px;

  @include font-size-height(16px, 28px);
  letter-spacing: -0.5px;
  color: rgba($dark-color, 0.7);

  @include until-desktop {
    width: 100%;
    margin-bottom: 19px;
  }

  @include until-tablet {
    margin-bottom: 18px;
  }
}

.tabs-menu__button {
  width: 250px;

  @include until-desktop {
    @include center;
  }

  @include until-tablet {
    width: 288px;
  }
}

.tabs-menu__reviews {
  position: relative;
  margin-top: 104px;

  @include until-desktop {
    @include center;
    margin-top: 0;
  }
}
