$font-stack: "Montserrat", "Arial Narrow", "Arial", sans-serif;
$white: #ffffff;
$black: #000000;
$accent-color: #fe7865;
$accent-h-color: #f17d4b;
$dark-color: #2c2e3f;
$darkest-color: #141517;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
$full-width: 1210px;
$retina: 1.5dppx;
$screen-padding: 20px;
$screen-padding-mob: 16px;
